<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.carrotmarket">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name=".CarrotMarketApplication"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.feed.EditFeedActivity"/>
        <activity android:name=".ui.feed.DetailFeedActivity" />
        <activity android:name=".ui.feed.CreateFeedActivity" />
        <activity android:name=".ui.SignUpActivity"/>
        <activity android:name=".ui.MainActivity"/>
        <activity android:name=".ui.user.profile.ProfileActivity" />
        <activity android:name=".ui.user.SellHistoryActivity" />
        <activity android:name=".ui.user.BuyHistoryActivity" />
        <activity android:name=".ui.user.WatchlistActivity" />
        <activity android:name=".ui.user.TownSettingActivity" />
        <activity android:name=".ui.user.TownVerifyActivity" />
        <activity android:name=".ui.user.KeywordNoticeActivity" />
        <activity android:name=".ui.user.FollowingActivity" />
        <activity android:name=".ui.user.MyFeedActivity" />
        <activity android:name=".ui.user.TownSubjectActivity" />
        <activity android:name=".ui.user.CEOMenuActivity" />
        <activity android:name=".ui.user.FriendInviteActivity" />
        <activity android:name=".ui.user.ShareActivity" />
        <activity android:name=".ui.user.AnnouncementsActivity" />
        <activity android:name=".ui.user.FAQActivity" />
        <activity android:name=".ui.user.preference.PreferencesActivity" />
        <activity android:name=".ui.user.preference.PushPreferencesActivity" />
        <activity android:name=".ui.user.profile.BadgeActivity"/>
        <activity android:name=".ui.user.profile.MannerActivity"/>
        <activity android:name=".ui.user.profile.ProfileSellHistoryActivity"/>
        <activity android:name=".ui.user.profile.ReviewActivity"/>
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="oauth"
                    android:scheme="kakaoa491f4206056cafb222c1b9c67a3b9d0"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${googleMapsApiKey}"/>
    </application>
</manifest>